<html>
	<head>
		<title>Elasticsearch benchmark</title>
		<style>
			/*table td {
				text-align: center;
				border: 1px solid #CCC;
			}*/
			/*.left td{
				text-align: left;
			}*/
		</style>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js" ></script>
	</head>
	<body>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
		%module%


		<script type="text/javascript">
		$(".collapse").collapse('hide');
		</script>
	</body>

</html>